.navBar {
background-color: #081831;
}

.logo {
    width: 4rem;
}

.letras{
    color: white;
}


.fondo {
    background-color: black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.boton{
    width: 100%;
    height: 100%;
}

.prueba {
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #081831;
    height: 1000px;
}